states/process/commands/inline.asl.yaml
StartAt: SendTyping
States:
  SendTyping:
    Type: Task
    Resource: 'arn:aws:states:::events:putEvents'
    Parameters:
      Entries:
        - EventBusName: ${EventBusName}
          Source: ${EventSource}
          DetailType: Send Chat Action
          Detail:
            chat_id.$: $.detail.message.chat.id
            action: typing
    ResultPath: null
    Next: Wait

  Wait:
    Type: Wait
    Seconds: 1
    Next: SendResponse

  SendResponse:
    Type: Task
    Resource: 'arn:aws:states:::events:putEvents'
    Parameters:
      Entries:
        - EventBusName: ${EventBusName}
          Source: ${EventSource}
          DetailType: Send Message With Inline Keyboard
          Detail:
            chat_id.$: $.detail.message.chat.id
            text: "Select a response"
            keyboard: 
              - text: 'Yes'
                callback_data: "yes"
              - text: 'No'
                callback_data: "no"
    ResultPath: null
    End: true
