states/process/commands/webapp.asl.yaml
StartAt: SendTyping
States:
  SendTyping:
    Type: Task
    Resource: 'arn:aws:states:::events:putEvents'
    Parameters:
      Entries:
        - EventBusName: ${EventBusName}
          Source: ${EventSource}
          DetailType: Send Chat Action
          Detail:
            chat_id.$: $.detail.message.chat.id
            action: typing
    ResultPath: null
    Next: Wait

  Wait:
    Type: Wait
    Seconds: 1
    Next: SendResponse

  SendResponse:
    Type: Task
    Resource: 'arn:aws:states:::events:putEvents'
    Parameters:
      Entries:
        - EventBusName: ${EventBusName}
          Source: ${EventSource}
          DetailType: Send Message With Keyboard
          Detail:
            chat_id.$: $.detail.message.chat.id
            text: "Open web app from keyboard"
            keyboard:
              - - text: 'Open'
                  web_app: 
                    url: "${WebAppUrl}"
    ResultPath: null
    End: true
